.body {
    height: 5000px;
    border-style: solid;
}

.bar1 {
    /* border-style: solid; */
    width: 1515px;
    height: 890px;
    opacity: 0px;
    background-image: url("./images/image\ 1.png");
    background-size: cover;
    /* background-color: #FAFAFA; */
}

.nav {
    width: 1485px;
    height: 104px;
    left: 59px;
    gap: 324px;
    border-radius: 10px;
    opacity: 0px;
    /* border-style: solid; */
    justify-content: space-between;
    margin-bottom: 10vh;
}


.startup {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
    /* justify-content:space-evenly; */
    /* border-style: solid; */
    display: flex;

}

.icn {
    /* border-style: solid; */
    margin-right: 5vw;
    margin-top: 6vh;
}

.nava {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.star {
    margin-right: 50px;
    margin-top: 6vh;
}

.star1 {
    margin-top: 6vh;

}

.bar1h3 {
    margin-left: 13vw;
}

.emp {
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
    margin-left: 13vw;
    margin-bottom: 10vh;
}

.btnflex {
    display: flex;
    margin-bottom: 110px;
}

.bar1h4 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    margin-left: 13vw;
    margin-bottom: 11vh;
}

.bar1btn {
    width: Hug (185px)px;
    height: Hug (48px)px;
    padding: 10px 36px 10px 36px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #FFA62B;
    color: #FFFFFF;
    margin-left: 13vw;
    border: none;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    width: 15vw;
}

.bar1btn1 {
    width: Hug (154px)px;
    height: Hug (48px)px;
    padding: 10px 36px 10px 36px;
    gap: 10px;
    border-radius: 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-color: #00A0C1;
    color: #00A0C1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}

.card {
    height: 200px;
    width: 300px;
    background-color: white;
    /* border-style: solid; */
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.card2 {
    height: 200px;
    width: 300px;
    background-color: #00A0C1;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.cardflex {
    display: flex;
    margin-left: 8vw;
}

.grow {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.para1 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.cardimg {
    width: 48px;
    height: 40.71px;
    top: 4px;
    padding: 0.08px 0.34px 0.08px 0.34px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 10px;
}

#para2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: white;
}

.para3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
    width: 520px;
    margin-left: 50px;
    margin-bottom: 70px;
    margin: auto;
}

.card4flex {
    display: flex;
}

.bar2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    background-color: #F3F3F3;
    width: auto;
    height: 500px;
    padding: 53px 42px 70px 42px;
    margin-top: 100px;
}

.card4 {
    height: 190px;
    width: 200px;
    background-color: white;
    /* border-style: solid; */
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.card4h2 {
    width: 53px;
    height: 57px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    color: #252B42;
    margin: auto;
}

.card4h5 {
    width: 170px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #737373;
    margin: auto;
}

.card4hh {
    width: 170px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #737373;
}

.power {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 57px;
    /* letter-spacing: 0.20000000298023224px; */
    text-align: center;
}

.bar3 {
    background-color: #F3F3F3;
    width: auto;
    height: 600px;
    padding: 53px 42px 106px 42px;
    /* border-style: solid; */
}

.card5 {
    height: 280px;
    width: 200px;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
    /* border-style: solid; */

}

.card5h5 {
    width: 130px;
    height: 48px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
    margin-top: -5px;
    /* border-style: solid; */
}

.para4 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #737373;
    width: 180px;
    text-align: left;
    margin-bottom: 10px;
    /* border-style: solid; */
    height: 90px;
    /* margin-top: 80px; */
}

.img-pos {
    width: 200px;
    height: 138px;
    margin-left: -20px;
}

.para31 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
    width: 520px;
    margin: auto;
    /* border-style: solid; */
}

.card5flex {
    display: flex;
}

.bar4 {
    width: Fixed (329px)px;
    height: Hug (1, 493px)px;
    left: 42.5px;
    padding: 100px 0px 100px 0px;
    gap: 100px;
    opacity: 0px;
    background-color: #FFFFFF;
    /* border-style: solid; */
    height: 670px;
    padding: 40px;
}

.bar4h2 {
    /* border-style: solid; */
    height: 15vh;
}

.power1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    /* margin-left: 40px; */
}

.pow1 {
    margin-top: -40px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 57px;
    /* margin-left: 40px; */
    /* letter-spacing: 0.20000000298023224px; */
}

.para5 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
    width: 520px;
    margin: auto;
    margin-bottom: 70px;
    /* border-style: solid; */
}

.para6 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #737373;
    width: 330px;
    text-align: left;
    margin-bottom: 40px;
    /* margin-left: 40px; */
    /* border-style: solid; */
}

.img-pos-1 {
    width: 30vw;
    height: 50vh;
    margin-right: 80px;
}

.quick {
    display: flex;
}

.h5s {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    /* border-style: solid; */
    margin-top: 0px;
    margin-left: 15px;
    color: #252B42;
    margin-bottom: 29px;
}

.h6s {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 15px;
    margin-top: -25px;
    color: #737373;

    /* border-style: solid; */
}

.bar4flex {
    display: flex;
    margin: auto;
    /* border-style: solid; */
    width: 60vw;
    margin-bottom: 20px;
}

.bar5 {
    margin: auto;
    height: 30vh;
    text-align: center;
    /* border-style: solid; */
    background-color: #FAFAFA;
    /* width: 70vw; */
}

.bar5img {
    margin-left: 10vw;
    margin-bottom: 50px;
}

.footer {
    width: 1518px;
    height: 60px;
    top: 262px;
    background-color: #252B42;
    margin: auto;
    margin-left: -3px;
}